<div class="container">

  <div class="main_photo">
    <%= link_to photo_path(@random_photo) do %>
    <h2><%= @random_photo.title %></h2>
    <%= image_tag @random_photo.photo_url %>
    <% end %>
  </div>

  <div class="thumbnails_container">
    <% @photos.each do |photo| %>
      <div class="thumbnail">
        <%= link_to image_tag(photo.photo_url, size: "125x125"), photo %>
      </div>
    <% end %>
  </div>

  <div class="pagination">
    <ul>
      <li><<</li>
      <li><</li>
      <li>Random</li>
      <li>></li>
      <li>>></li>

    </ul>
  </div>


</div>  <!-- end of container div -->
