/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *:after, *:before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

/*application layout css*/
a {
  text-decoration: none;
  color: black;
}

header {
  /*border: 2px solid blue;*/
  height: 100px;
  background-image: url(http://croftonsinjuryclaims.co.uk/wp-content/uploads/2013/09/Nightclub.jpg);
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

header a {
  color: limegreen;
}

header h1 {
  font-size: 40px;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 2px black;
  /*margin: .25em 1em;*/
  width: 70%;
}

.header_links {
  float: right;
  /*padding-top: .75em;*/
  /*margin-right: 3em;*/
}

nav a {
  padding-right: .5em;
}

.search_form {
  padding-top: .35em;
}


.button_link, input[type=submit] {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none;
  font: menu;
  color: ButtonText;
  display: inline-block;
  padding: 2px 8px;
}

.container{
  /*border: 2px solid green;*/
}

h2 {
  font-size: 40px;
}

/*main page css*/
.main_photo {
  /*border: 2px solid red;*/
  width: 56%;
  text-align: center;
  /*border-radius: 8px;*/
  /*background-color: #eee;
  box-shadow: 0px 3px 5px 0px #B7B3B5;*/
  padding: 10px;
  display: inline-block;
}

.main_photo h2 {

  margin-bottom: .25em;
}

.main_photo img {
  max-width: 70%;
  margin: auto;
  max-height: 500px;
}

.thumbnails_container {
  /*border: 2px solid yellow;*/
  width: 40%;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.thumbnail {
  display: inline-block;
}

.thumbnail img {
  border-radius: 10px;
  height: 125px;
  width: 125px;
}

footer {
  margin-bottom: 2em;
  text-align: center;
}
 /*pagination css*/
 .pagination {
   text-align: center;
   padding: 0.3em;
   cursor: default;
   margin-bottom: .5em
 }
   .pagination a, .pagination span, .pagination em {
     padding: 0.2em 0.5em; }
   .pagination .disabled {
     color: #aaaaaa; }
   .pagination .current {
     font-style: normal;
     font-weight: bold;
     color: #ff0084; }
   .pagination a {
     border: 1px solid #dddddd;
     color: #0063dc;
     text-decoration: none; }
     .pagination a:hover, .pagination a:focus {
       border-color: #003366;
       background: #0063dc;
       color: white; }
   .pagination .page_info {
     color: #aaaaaa;
     padding-top: 0.8em; }
   .pagination .previous_page, .pagination .next_page {
     border-width: 2px; }
   .pagination .previous_page {
     margin-right: 1em; }
   .pagination .next_page {
     margin-left: 1em; }

/*show photo page css*/

.photo_page {
  text-align: center;
}

.photo_page img {
  max-height: 800px;

}

.comment_container {
  width: 400px;
  margin: auto;
}

.comment_container li {
  list-style: none;
  padding-top: .5em;
  word-wrap: break-word;
}

.time_ago {
  font-size: 12px;
}

/*user profile css*/
.user_fav_list, .user_info {
  width: 1035px;
  margin: 1em auto;
}

.user_fav_list h2{
  font-size: 30px;
  margin: .5em 0;
}


/*form css - new/edit comment/photo */

.form_container {
  margin-top: 2em;
  margin-left: 2em;
}
.form_container input[type=text], textarea, input[type=password] {
  display: block;
  margin: 5px 0 20px 0;
  padding: 9px;
  border: solid 1px black;
  width: 300px;
  background: whitesmoke;
}

.error_message {
  color: red;
  font-size: 20px;

}
